@use '../../../styles.scss'; 

.stats-container {

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 14px 0;
      border-bottom: 1px solid styles.$color-border;
      display: flex;
      justify-content: space-between;

      &:last-child {
        border-bottom: none;
      }

      strong {
        color: styles.$color-muted;
        font-weight: 600;
      }
    }
  }
}