# Git
.git
.gitignore

# Dependencies
node_modules
frontend/node_modules
backend/node_modules
shared/node_modules

# Build outputs
dist
frontend/dist
shared/dist

# Local SQLite Database files
*.db
*.db-journal
backend/prisma/*.db
backend/prisma/*.db-journal

# Secrets
.env
.env.local
backend/.env.local

# Logs and debug files
npm-debug.log
npm-debug.log.*
*.log

# IDE files
.vscode
.idea