<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="login-form">

  <div class="header">
    <h2 class="title">{{ 'app.welcome_back' | translate }}</h2>
    <p class="subtitle">{{ 'app.enter_credentials' | translate }}</p>
  </div>

  @if (error(); as err) {
    <div class="error">
      <i class="pi pi-exclamation-circle error-icon"></i>
      <span>{{ err | translate}}</span>
    </div>
  }

  <div class="group">
    <label class="label" for="login-email">{{ 'app.email' | translate }}</label>
    <input 
      pInputText 
      id="login-email" 
      type="email" 
      formControlName="email"
      placeholder="{{ 'app.email_placeholder' | translate }}" 
      class="input" 
      autocomplete="email" />

    @if (form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)) {
      @if (form.get('email')?.hasError('required')) {
        <small class="validation-error">{{ 'validation.email.required' | translate }}</small>
      }
      @if (form.get('email')?.hasError('email')) {
        <small class="validation-error">{{ 'validation.email.email' | translate }}</small>
      }
    }
  </div>

  <div class="group">
    <div class="label-wrapper">
      <label class="label" for="login-password">{{ 'app.password' | translate }}</label>
    </div>
    <p-password 
      inputId="login-password" 
      formControlName="password"
      [toggleMask]="true" 
      [feedback]="false" 
      placeholder="{{ 'app.login_password_placeholder' | translate }}" 
      inputStyleClass="input" 
      autocomplete="current-password" />

    @if (form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) {
      @if (form.get('password')?.hasError('required')) {
        <small class="validation-error">{{ 'validation.password.required' | translate }}</small>
      }
      @if (form.get('password')?.hasError('minlength')) {
        <small class="validation-error">{{ 'validation.password.minlength' | translate }}</small>
      }
    }
  </div>

  <p-button 
    type="submit" 
    label="{{ 'app.sign_in' | translate }}" 
    icon="pi pi-sign-in" 
    iconPos="right"
    [disabled]="isLoading()" 
    [loading]="isLoading()" 
    styleClass="button"
  />

  <div class="divider">
    <div class="divider-content">
      <span class="divider-text">{{ 'app.or_continue_with' | translate }}</span>
    </div>
  </div>

  <app-social-auth />

</form>

<div class="login-footer">
  {{ 'app.no_account' | translate }}
  <a routerLink="/auth/signup" class="link">
    {{ 'app.sign_up' | translate }}
  </a>
</div>
