<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="login-form">

  <div class="header">
    <h2 class="title">{{ 'welcome_back' | i18next }}</h2>
    <p class="subtitle">{{ 'enter_credentials' | i18next}}</p>
  </div>

  @if (error(); as err) {
    <div class="error">
      <i class="pi pi-exclamation-circle error-icon"></i>
      <span>{{ err | i18next }}</span>
    </div>
  }

  <div class="group">
    <label class="label" for="login-email">{{ 'email' | i18next }}</label>
    <input i18nextValidationMessage pInputText id="login-email" type="email" formControlName="email"
           placeholder="you@example.com" class="input" autocomplete="email" />
  </div>

  <div class="group">
    <div class="label-wrapper">
      <label class="label" for="login-password">{{ 'password' | i18next }}</label>
    </div>
    <p-password 
      i18nextValidationMessage 
      inputId="login-password" 
      formControlName="password"
      [toggleMask]="true" 
      [feedback]="false" 
      placeholder="••••••••" 
      inputStyleClass="input" 
      autocomplete="current-password" 
    />
  </div>

  <p-button 
    type="submit" 
    label="{{ 'sign_in' | i18next }}" 
    icon="pi pi-sign-in" 
    iconPos="right"
    [disabled]="isLoading()" 
    [loading]="isLoading()" 
    styleClass="button"
  />

  <div class="divider">
    <div class="divider-content">
      <span class="divider-text">{{ 'or_continue_with' | i18next }}</span>
    </div>
  </div>

  <app-social-auth />

</form>

<div class="login-footer">
  {{ 'no_account' | i18next }}
  <a routerLink="/auth/signup" class="link">
    {{ 'sign_up' | i18next }}
  </a>
</div>
