<header class="chat-header">

  <p-button
    class="toggle-button"
    (click)="toggleSidebar.emit()"
    title="{{ 'app.toggle_sidebar' | translate }}"
    icon="pi pi-bars"
  />

  <div class="room-title-container">
    @if (room(); as r) {
      @if (r.type !== 'dm') {
        <span class="room-prefix">#</span>
        <h2 class="title">{{ r.name }}</h2>

        @if (activeUsersCount() > 0) {
          <div class="status">
            <div class="status-indicator status-indicator-online"></div>
            <span class="status-text">{{ 'app.members_online' | translate: {count: activeUsersCount()} }} </span>
          </div>
        }
      } @else {
        <p-avatar label="{{r.name.charAt(0).toUpperCase()}}" shape="circle" />
        <h2 class="title">{{ r.name }}</h2>
        
        <div class="status">
          <div class="status-indicator" [class.status-indicator-online]="r.otherUser?.isOnline"></div>
          <span class="status-text">{{ (r.otherUser?.isOnline ? 'app.online' : 'app.offline') | translate }}</span>
        </div>
      }
    } @else {
      <h2 class="placeholder">{{ 'app.select_room' | translate }}</h2>
    }

  </div>

  <div class="actions">
    @if (room() && room()!.type !== 'dm') {
      <p-button
        icon="pi pi-users"
        [text]="true"
        [rounded]="true"
        severity="secondary"
        pTooltip="{{ 'app.members' | translate }}"
        tooltipPosition="bottom"
        (onClick)="openMembers.emit()"
      />
    }
  </div>

</header>
