<header class="chat-header">

  <p-button
    class="toggle-button"
    (click)="toggleSidebar.emit()"
    title="{{ 'toggle_sidebar' | i18next }}"
    icon="pi pi-bars"
  />

  <div class="room-title-container">
    @if (room(); as r) {
      @if (r.type !== 'dm') {
        <span class="room-prefix">#</span>
        <h2 class="title">{{ r.name }}</h2>
      } @else {
        <p-avatar label="{{r.name.charAt(0).toUpperCase()}}" shape="circle" />
        <h2 class="title">{{ r.name }}</h2>
      }
    } @else {
      <h2 class="placeholder">{{ 'select_room' | i18next }}</h2>
    }

    @if (activeUsersCount() > 0) {
      <div class="online-status">
        <div class="status-indicator"></div>
        <span class="status-text">{{ activeUsersCount() + 'online' | i18next }} </span>
      </div>
    }
  </div>

  <div class="actions">
    @if (room() && room()!.type !== 'dm') {
      <p-button
        icon="pi pi-users"
        [text]="true"
        [rounded]="true"
        severity="secondary"
        pTooltip="{{ 'members' | i18next }}"
        tooltipPosition="bottom"
        (onClick)="openMembers.emit()"
      />
    }
  </div>

</header>
