<div class="message-list">
  @if (isLoadingTop()) {
    <div class="status-wrapper">
      <div class="loading-content">
        <i class="pi pi-spin pi-spinner"></i>
        <span class="loading-text">{{ 'app.loading_messages' | translate }}</span>
      </div>
    </div>
  }

  @if (messages().length === 0) {
    <div class="status-wrapper">
      <div class="empty-content">
        <i class="pi pi-comments empty-icon"></i>
        <p class="empty-text">{{ 'app.no_messages' | translate }}</p>
      </div>
    </div>
  }

  @for (msg of messages(); track msg.id; let i = $index; let first = $first) {
    <div 
      [class.item-grouped]="messages()[i + 1]?.senderId === msg.senderId" 
      [class.item-separated]="messages()[i + 1]?.senderId !== msg.senderId" 
      [attr.data-msg-index]="i">
      <app-message-item
        [message]="msg"
        [showSender]="first || messages()[i - 1]?.senderId !== msg.senderId"
      />
    </div>
  }
  
  @if (isLoadingBottom()) {
    <div class="status-wrapper">
      <div class="loading-content">
        <i class="pi pi-spin pi-spinner"></i>
        <span class="loading-text">{{ 'app.loading_messages' | translate }}</span>
      </div>
    </div>
  }
</div>
