<div class="sidebar-header">
  <div class="logo">
    <i class="pi pi-comments logo-icon"></i>
  </div>
  <span class="title">{{ 'app.title' | translate }}</span>
</div>

<div class="content">
  <p-menu [model]="menuItems()" styleClass="menu">

    <ng-template pTemplate="submenuheader" let-item>
      <div class="submenu-header">
        <span class="submenu-title">
          {{ 'app.' + item.label | translate }}
        </span>
        @if (item.data?.['addAction']) {
          <button
            type="button"
            class="submenu-action"
            [title]="(item.data['addAction'] === 'room' ? 'app.create_room_tooltip' : 'app.new_dm_tooltip') | translate"
            (click)="onAddClick(item.data['addAction'], $event)">
            <i class="pi pi-plus submenu-action-icon"></i>
          </button>
        }
      </div>
    </ng-template>

    <ng-template pTemplate="item" let-item>
      <div class="item"
          [class.item-active]="item.id == activeRoomId()"
          [class.item-active]="item.id == activeRoomId()"
          [class.item-muted]="item.icon && !item.data?.['isMember'] && item.id != activeRoomId()">
        <div class="item-content">
          @if (item.icon) {
            <i [class]="item.icon" class="item-icon"></i>
          } @else {
            <div class="status-indicator" [class.status-indicator-online]="item.state?.['isOnline']"></div>
          }
          <span class="item-label" [class.item-label-bold]="item.data?.['isMember'] || !item.icon">{{ item.label }}</span>
        </div>
        
        @if (item.badge) {
          <p-badge [value]="item.badge" severity="danger"></p-badge>
        }
      </div>
    </ng-template>
  </p-menu>
</div>

<div class="footer">
  <app-sidebar-user-menu />
</div>