<p-dialog
  [(visible)]="visible"
  [header]="'app.create_room_dialog_title' | translate"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="room-dialog"
  (onHide)="close()">

  <form [formGroup]="form" class="room-form">

    <div class="group">
      <label class="label">{{ 'app.room_type' | translate }}</label>
      <p-selectbutton
        formControlName="type"
        [options]="typeOptions"
        optionLabel="label"
        optionValue="value"
        styleClass="input" />
    </div>

    <div class="group">
      <label class="label">{{ 'app.room_name' | translate }}</label>
      <input
        pInputText
        formControlName="name"
        [placeholder]="'app.room_name_placeholder' | translate"
        class="input"
        autocomplete="off" />

      @if (form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)) {
        @if (form.get('name')?.hasError('required')) {
          <small class="validation-error">{{ 'validation.name.required' | translate }}</small>
        }
        @if (form.get('name')?.hasError('maxlength')) {
          <small class="validation-error">{{ 'validation.name.maxlength' | translate }}</small>
        }
      }
    </div>

    @if (selectedType === 'password') {
      <div class="group">
        <label class="label">{{ 'app.password' | translate }}</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          class="input"
          inputStyleClass="input"
          [placeholder]="'app.room_password_placeholder' | translate" />

        @if (form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) {
          @if (form.get('password')?.hasError('required')) {
            <small class="validation-error">{{ 'validation.password.required' | translate }}</small>
          }
          @if (form.get('password')?.hasError('minlength')) {
            <small class="validation-error">{{ 'validation.password.minlength' | translate }}</small>
          }
        } 
      </div>
    }

  </form>

  <ng-template pTemplate="footer">
    <div class="room-footer">
      <p-button
        [label]="'app.cancel' | translate"
        severity="secondary"
        (onClick)="close()" />
      <p-button
        [label]="'app.create' | translate"
        (onClick)="submit()" />
    </div>
  </ng-template>

</p-dialog>
