<div class="user-profile">
  <div class="avatar-wrapper">
    <p-avatar label="Y" shape="circle" />
  </div>

  <div class="info">
    <div class="name">{{ currentUserName }}</div>
    <div class="status">
      <div class="status-indicator"></div>
      <span class="status-text">{{ 'online' | i18next }}</span>
    </div>
  </div>

  <p-button
    icon="pi pi-ellipsis-h"
    [text]="true"
    [rounded]="true"
    severity="secondary"
    size="small"
    (click)="menu.toggle($event)"
  />
</div>

<p-menu #menu [model]="menuItems()" [popup]="true">
  <ng-template pTemplate="submenuheader" let-item>
    @if (item.label) {
      {{ item.label }}
    } @else {
      <p-divider/>
    }
  </ng-template>
</p-menu>
