<div class="space-y-2.5">
  <a
    href="http://localhost:3000/auth/google"
    class="flex w-full items-center justify-center gap-3 rounded-lg border px-4 py-2.5 text-sm font-medium transition-colors hover:bg-gray-200"
  >
    <i class="pi pi-google"></i>
    {{ 'continue_with_google' | i18next }}
  </a>
  <a
    href="http://localhost:3000/auth/facebook"
    class="flex w-full items-center justify-center gap-3 rounded-lg border px-4 py-2.5 text-sm font-medium transition-colors hover:bg-gray-200"
  >
    <i class="pi pi-facebook"></i>
    {{ 'continue_with_facebook' | i18next }}
  </a>
</div>