<div class="message-input">
  <div class="container">

    <input
      pInputText
      class="field"
      [style.box-shadow]="'none'"
      [(ngModel)]="messageText"
      placeholder="{{ 'type_message' | i18next }}"
      (keydown.enter)="submit()"
      autocomplete="off"
    />

    <p-button
      icon="pi pi-send"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      size="small"
      [disabled]="!messageText().trim()"
      (onClick)="submit()"
      title="{{ 'send' | i18next }}"
    />
  </div>
</div>