@import 'primeicons/primeicons.css';

body {
  background-color: var(--p-content-background);
  color: var(--p-text-color);
}

.error-container {
  color: red;
  font-size: 0.75rem;
}

.p-virtualscroller-content {
  height: 100%;
}