<div class="flex-1 overflow-hidden bg-gray-50 relative flex flex-col">
  @if (isLoadingTop()) {
    <div class="absolute top-0 left-0 w-full z-10 flex justify-center p-3 pointer-events-none transition-opacity duration-300">
      <div class="bg-white shadow-md border border-gray-100 rounded-full px-4 py-1.5 flex items-center gap-2 text-blue-600 text-sm font-medium">
        <i class="pi pi-spinner pi-spin"></i>
        <span>Loading older messages...</span>
      </div>
    </div>
  }

  <p-virtualscroller 
    #scroller
    [items]="messages()" 
    [itemSize]="80" 
    [lazy]="true" 
    (onLazyLoad)="onScrollLoad($event)"
    styleClass="w-full h-full p-4"
    [delay]="0">
    
    <ng-template pTemplate="item" let-msg>
      <div class="pb-4">
        <app-chat-message [message]="msg" />
      </div>
    </ng-template>
  </p-virtualscroller>

  @if (isLoadingBottom()) {
    <div class="absolute bottom-0 left-0 w-full z-10 flex justify-center p-3 pointer-events-none transition-opacity duration-300">
      <div class="bg-white shadow-md border border-gray-100 rounded-full px-4 py-1.5 flex items-center gap-2 text-blue-600 text-sm font-medium">
        <i class="pi pi-spinner pi-spin"></i>
        <span>Loading newer messages...</span>
      </div>
    </div>
  }
</div>
