<div
  class="message-item"
  [class.message-item-mine]="message().senderId === currentUserId()"
>
  @if (message().senderId !== currentUserId()) {
    <div class="avatar-wrapper">
      @if (showSender()) {
        <p-avatar [label]="message().sender.fullname?.charAt(0) ?? message().sender.email.charAt(0)" shape="circle" />
      } @else {
        <div class="avatar-placeholder"></div>
      }
    </div>
  }

  <div class="content-wrapper">
    @if (showSender()) {
      <div class="header">
        <span class="sender">
          {{ message().senderId === currentUserId() ? '' : (message().sender.fullname ?? message().sender.email) }}
        </span>
        <span class="time">
          {{ message().createdAt | timeAgo }}
        </span>
      </div>
    }
    
    <div
      class="bubble"
      [class.bubble-pending]="message().id < 0"
      >
      {{ message().content }}
    </div>

    @if (!showSender()) {
      <div class="time-hover">
        <span class="time">
          {{ message().createdAt | timeAgo }}
        </span>
      </div>
    }
  </div>
</div>
