<div
  class="flex gap-2 px-1 py-0.5 group w-full"
  [class.flex-row-reverse]="message().senderId === currentUserId()"
>
  @if (message().senderId !== currentUserId()) {
    <div class="mt-1 shrink-0">
      @if (showSender()) {
        <p-avatar [label]="message().sender.fullname?.charAt(0) ?? message().sender.email.charAt(0)" shape="circle" />
      } @else {
        <div class="w-8"></div>
      }
    </div>
  }

  <div
    class="flex max-w-[75%] flex-col gap-1"
    [class.items-end]="message().senderId === currentUserId()"
    [class.items-start]="message().senderId !== currentUserId()"
  >
    @if (showSender()) {
      <div class="flex items-baseline gap-2 px-1"
          [class.flex-row-reverse]="message().senderId === currentUserId()">
        <span class="text-xs font-semibold">
          {{ message().senderId === currentUserId() ? '' : (message().sender.fullname ?? message().sender.email) }}
        </span>
        <span class="text-xs text-muted">
          {{ message().createdAt | date: 'HH:mm' }}
        </span>
      </div>
    }
    
    <div
      class="rounded-2xl px-3.5 py-2 text-sm break-words w-full"
      [class.rounded-tr-sm]="message().senderId === currentUserId()"
      [class.rounded-tl-sm]="message().senderId !== currentUserId()"
      [class.bg-canvas-hover]="message().senderId === currentUserId()"
      [class.bg-primary-500]="message().senderId !== currentUserId()"
      [class.text-white]="message().senderId !== currentUserId()"
      [class.opacity-60]="message().id < 0"
      >
      {{ message().content }}
    </div>

    @if (!showSender()) {
      <div class="px-1 opacity-0 group-hover:opacity-100 transition-opacity">
        <span class="text-xs text-muted">
          {{ message().createdAt | date: 'HH:mm' }}
        </span>
      </div>
    }
  </div>
</div>
