@use '../../../styles.scss';

.message-item {
  display: flex;
  gap: 0.5rem;
  padding: 0.125rem 0.25rem;
  width: 100%;

  &-mine {
    flex-direction: row-reverse;

    .content-wrapper {
      align-items: flex-end;
    }

    .header {
      flex-direction: row-reverse;
    }

    .bubble {
      border-top-right-radius: 0.125rem !important;
      background-color: styles.$color-canvas-hover;
      color: inherit;
    }
  }

  &:not(&-mine) {
    .content-wrapper {
      align-items: flex-start;
    }
    
    .bubble {
      border-top-left-radius: 0.125rem;
      background-color: styles.$color-primary-500;
      color: white;
    }
  }

  .avatar-wrapper {
    margin-top: 0.25rem;
    flex-shrink: 0;
  }

  .avatar-placeholder {
    width: 2rem;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 75%;
  }

  .header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    padding: 0 0.25rem;
  }

  .sender {
    font-size: 0.75rem;
    font-weight: 600;
  }

  .time {
    font-size: 0.75rem;
    color: styles.$color-muted;
  }

  .bubble {
    border-radius: 1rem;
    padding: 0.5rem 0.875rem;
    font-size: 0.875rem;
    overflow-wrap: break-word;
    width: 100%;
    max-width: fit-content;
    
    &-pending {
      opacity: 0.6;
    }
  }

  .time-hover {
    padding: 0 0.25rem;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover {
    .time-hover {
      opacity: 1;
    }
  }
}